#####################################################################
# OpenWebUI Environment Variables
#
# ENABLE_PERSISTENT_CONFIG is set to False in order to instruct
# OpenWebUI to always use environment variables instead of persistent
# config to setup the instance. Using persistent config takes
# environment variables only on the 1st. start, subsequent restarts
# will use persisted config, not the defined variables. If
# environment variables are changed having ENABLE_PERSISTENT_CONFIG
# set in True, theu will be not updated.
####################################################################
OWEBUI_PORT=8180
ENABLE_PERSISTENT_CONFIG=True
## General Config
WEBUI_NAME=OpenWebUI
ENABLE_SIGNUP=True
ADMIN_EMAIL=an@email.net
DEFAULT_USER_ROLE=user
ENABLE_OLLAMA_API=True
ENABLE_AUTOCOMPLETE_GENERATION=False
ENABLE_API_KEYS=True
ENABLE_API_KEYS_ENDPOINT_RESTRICTIONS=False

## Enabled to access External Tool Servers and Pipeline Server
ENABLE_OPENAI_API=True
OPENAI_API_BASE_URL=http://pipelines:9099
OPENAI_API_KEY=${PIPESERVER_KEY}

## DATABASE
DATABASE_TYPE=postgresql
DATABASE_USER=${DATABASE_USER}
DATABASE_PASSWORD=${DATABASE_PASS}
DATABASE_HOST=db
DATABASE_NAME=owebuidb
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASS}@db/owebuidb

## VECTOR DB
VECTOR_DB=pgvector
PGVECTOR_DB_URL=postgresql://${PGVECTOR_USR}:${PGVECTOR_PASS}@vdb/pgvdb
#PGVECTOR_INITIALIZE_MAX_VECTOR_LENGTH=1536
PGVECTOR_CREATE_EXTENSION=true

## REDIS
#REDIS_URL=redis://default:${REDIS_PASS}@redis:6379 
#ENABLE_WEBSOCKET_SUPPORT=true
#WEBSOCKET_MANAGER=redis
#WEBSOCKET_REDIS_URL=redis://default:${REDIS_PASS}@redis:6379

## OLLAMA
OLLAMA_BASE_URL=http://ollama:11434

## COMFYUI IMAGE GENERATION
#COMFYUI_BASE_URL=http://comfyui:8188/
#COMFYUI_API_KEY
#IMAGE_GENERATION_ENGINE=comfyui
#IMAGE_GENERATION_MODEL=flux1-schnell-fp8.safetensors
#IMAGE_SIZE=512x512
#IMAGE_STEPS=50
#COMFYUI_WORKFLOW

## COMFYUI IMAGE EDITING
#IMAGES_EDIT_COMFYUI_BASE_URL
#IMAGES_EDIT_COMFYUI_API_KEY
#IMAGES_EDIT_COMFYUI_WORKFLOW
#IMAGES_EDIT_COMFYUI_WORKFLOW_NODES

## LibreTranslate Integration
#LIBRETRANSLATE_API_BASE_URL=http://libretranslate:5000

## SEARXNG + WebSearch RAG
#ENABLE_WEB_SEARCH=True
#ENABLE_SEARCH_QUERY_GENERATION=True
#WEB_SEARCH_RESULT_COUNT=10
#WEB_SEARCH_ENGINE=searxng
#SEARXNG_QUERY_URL=http://searxng:8080/search?q=<query>&format=json
#RAG_WEB_SEARCH_RESULT_COUNT=10
#RAG_WEB_SEARCH_CONCURRENT_REQUESTS=2

## Tika
#CONTENT_EXTRACTION_ENGINE=tika
#TIKA_SERVER_URL=http://tika:9998

## RAG Embedding Egine
RAG_EMBEDDING_ENGINE=ollama
#RAG_EMBEDDING_MODEL=bge-m3:567m
#RAG_EMBEDDING_BATCH_SIZE=1
#RAG_ALLOWED_FILE_EXTENSIONS=pdf,docx,txt

##YT Loader
#YOUTUBE_LOADER_LANGUAGE=en

## OpenTelemetry
#ENABLE_OTEL=true
#ENABLE_OTEL_METRICS=true
#OTEL_EXPORTER_OTLP_INSECURE=true # Use insecure connection for OTLP, remove in production
#OTEL_EXPORTER_OTLP_ENDPOINT=http://grafana:4317
#OTEL_SERVICE_NAME=open-webui

## OAUTH
#ENABLE_OAUTH_SIGNUP=True
#ENABLE_LOGIN_FORM=True
#OAUTH_CLIENT_ID=${OAUTH_CLIENT_ID}
#OAUTH_CLIENT_SECRET=${OAUTH_CLIENT_SECRET}
#OPENID_PROVIDER_URL=${OPENID_PROVIDER_URL}
#OAUTH_PROVIDER_NAME=${OAUTH_PROVIDER_NAME}
#OAUTH_MERGE_ACCOUNTS_BY_EMAIL=True
#OAUTH_UPDATE_PICTURE_ON_LOGIN=True

